
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div>@Server.MapPath("~/Images/")</div>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}