
@{
    ViewBag.Title = "Index";
}

<h2>Schedule</h2>

<canvas id="schedule" width="800" height="800"></canvas>

<script>
    var c = document.getElementById("schedule");
    var ctx = c.getContext("2d");
    var leftMarginWidth = c.width / 7;
    var topMarginHeight = 40;
    var rightMarginWidth = 10;
    var bottomMarginWidth = 10;
    var scheduleWidth = c.width - leftMarginWidth - rightMarginWidth;
    var scheduleHeight = c.height - topMarginHeight - bottomMarginWidth;
    var fontSize = 16;
    var hoursInDay = 8;
    var startTime = 8;

    (function () {
        ctx.translate(leftMarginWidth, topMarginHeight);

        var dayOfWeek =
            [
                "Måndag",
                "Tisdag",
                "Onsdag",
                "Torsdag",
                "Fredag",
                "Lördag",
                "Söndag"
            ];

        var timeOfDay =
            [
                "00:00",
                "01:00",
                "02:00",
                "03:00",
                "04:00",
                "05:00",
                "06:00",
                "07:00",
                "08:00",
                "09:00",
                "10:00",
                "11:00",
                "12:00",
                "13:00",
                "14:00",
                "15:00",
                "16:00",
                "17:00",
                "18:00",
                "19:00",
                "20:00",
                "21:00",
                "22:00",
                "23:00"
            ];


        ctx.fillStyle = "#e0e0e0";
        ctx.fillRect(0, 0, scheduleWidth, scheduleHeight);

        ctx.strokeStyle = "#000000";
        ctx.lineWidth = 1;

        ctx.beginPath();
        ctx.moveTo(0, -topMarginHeight * 0.75);
        ctx.lineTo(scheduleWidth, -topMarginHeight * 0.75);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.lineTo(scheduleWidth, 0);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(scheduleWidth, -topMarginHeight * 0.75);
        ctx.lineTo(scheduleWidth, scheduleHeight);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, scheduleHeight);
        ctx.lineTo(scheduleWidth, scheduleHeight);
        ctx.stroke();

        ctx.fillStyle = "#000000";

        for (time = 0; time < hoursInDay + 1; time++) {
            ctx.beginPath();
            ctx.moveTo(-12, time * (scheduleHeight / hoursInDay));
            ctx.lineTo(0, time * (scheduleHeight / hoursInDay));
            ctx.stroke();
            ctx.font = fontSize + "px Arial";
            ctx.fillText(timeOfDay[time + startTime], -leftMarginWidth * 0.5, time * (scheduleHeight / hoursInDay) + fontSize * 0.5);

            if (time == hoursInDay)
                break;

            ctx.beginPath();
            ctx.moveTo(-6, (time + (1 / 3)) * (scheduleHeight / hoursInDay));
            ctx.lineTo(0, (time + (1 / 3)) * (scheduleHeight / hoursInDay));
            ctx.stroke();
            ctx.font = Math.round(fontSize * 0.75) + "px Arial";
            ctx.fillText("20", -leftMarginWidth * 0.25, (time + (1 / 3)) * (scheduleHeight / hoursInDay) + fontSize * 0.25);

            ctx.beginPath();
            ctx.moveTo(-6, (time + (2 / 3)) * (scheduleHeight / hoursInDay));
            ctx.lineTo(0, (time + (2 / 3)) * (scheduleHeight / hoursInDay));
            ctx.stroke();
            ctx.fillText("40", -leftMarginWidth * 0.25, (time + (2 / 3)) * (scheduleHeight / hoursInDay) + fontSize * 0.25);
        }

        for (day = 0; day < 5; day++) {
            ctx.beginPath();
            ctx.moveTo(day * (scheduleWidth / 5), -topMarginHeight * 0.75);
            ctx.lineTo(day * (scheduleWidth / 5), scheduleHeight);
            ctx.stroke();

            ctx.fillStyle = "#000000";
            ctx.font = Math.round(fontSize * 1.25) + "px Arial";
            ctx.fillText(dayOfWeek[day], day * (scheduleWidth / 5) + 10, -topMarginHeight * 0.5 + fontSize * 0.625, (scheduleWidth) / 5);
        }

        drawActivity(0, 50, 400, "hej");
    })();

    function drawActivity(day, startTime, endTime, description) {
        ctx.fillStyle = "#ffffff";
        ctx.strokeStyle = "#000000";
        ctx.fillRect(day * (scheduleWidth / 5), startTime, (day + 1) * (scheduleWidth / 5), endTime);
        ctx.strokeRect(day * (scheduleWidth / 5), startTime, (day + 1) * (scheduleWidth / 5), endTime);
    }

</script>